body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding: 0 30px;
}

.content {
  padding: 30px;
  min-height: "calc(100vh - 64px)";
  margin-top: 64px;
}

.content-inner {
  padding: 24px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 15px;
}

.user-card-action-icons {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

.user-card:hover .user-card-action-icons {
  display: flex;
}

.action-modal .ant-modal-header {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

/* mobile */
@media (max-width: 487px) {
  .header {
    padding: 0 10px;
  }

  .content {
    padding: 10px;
  }

  .content-inner {
    padding: 10px;
  }
}
